body{
	background-color: 	lavender ;
	text-align: 		center;
	font-family: 		sans-serif;
}

#body2{
	display: block;
	margin-top: 0;
	
	width: 60%; 
	margin-right: auto; 
	margin-left: auto;
  	
	background-color: white ;
	text-align: left;
	
	border-radius: 15px;
	-moz-border-radius: 15px;
}

#body3{
	display: block;
	margin: 30px 30px 30px 30px;
	text-align: left;
}

#error{
	color: red;
}
h1 {
	text-align: center
}
